
#header{
	text-align: center;

}

body{
	background-image: url(../images/stardust.png);
	background-size: cover;

}

div.panel-default{
	box-shadow: 0px 40px 50px #888888;
}

.jumbotron{
	border-bottom: 10px solid #747F84;
	padding-bottom: 0;
	
}

#clip{
	padding-top: 40px;
}